/*
	CSS Template - Olaipai
	facebook.com/olaipai | @olaipai
	Free for personal and commercial use.
*/

@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('font-awesome.min.css');



/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background-color: #E1E1E1;
		background-repeat:			repeat,							no-repeat;
		background-size:			auto,							100% 100%;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
		
	body,input,textarea,select
	{
		font-family: 'Helvetica', sans-serif;
		font-weight: 300;
		color: #1F1F1F;
	}
	
	strong, b
	{
		font-weight: 400;
		color: #363636;
	}

	h1, h2, h4,h5, h6
	{
		font-weight: 700;
		color: #000;
	}

	h2 {
		margin: 2em 0 0 0;
	}

	h3 {
	
		font-weight: 700;
		color: #000;
		padding: 0 0 0 0;
		margin: 4em 0 0 0;

	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		padding: 1.5em 0 0 0;
		margin: 1.75em 0 0 0;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	br.clear
	{
		clear: both;
	}
	
	ul, ol, dl, table, blockquote, form
	{
		margin-bottom: 2em;
	}
		
	/* Table */
	
		table
		{
			width: 100%;
		}
		
			table.default
			{
			}
			
				table.default tbody tr
				{
					border-bottom: solid 1px #f4f4f4;
				}
				
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					font-weight: 400;
					padding: 0.5em 1em 0.5em 1em;
				}
			
				table.default thead
				{
					border-bottom: solid 3px #f4f4f4;
				}

	/* Form */

		form
		{
		}

			.mainNav {
				text-align: center;
				
			}

			.frontpage {
				padding-top: 50px;
			}

			.buttons {
				padding-top: 0;
				margin-top: -50px;
			}
		
			.member-label {
				text-align: center;
    			display: inline-block;
    			height: 2.9em;
    			width: 2.9em;
    			font-size: 50px;
    			font-weight: 700;
    			padding: 1.1em 0 0 0;
				border: 3px solid black;
				-moz-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				-webkit-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				-o-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				-ms-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				transition: color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
			}

			.member-input { 
    			position: fixed;
				top: 0; 
				left: 100%;
				z-index: -1;
				visibility: hidden;
			}

			.member-label:hover {
   				cursor: pointer;
  				border-color: #61AFCA;
  				background-color: #61AFCA;
			}

			.member-input:checked + .member-label {
    			color: #000;
    			background-color: #61AFCA;
    			cursor: default;
    			border-color: #61AFCA;
			}

			.week-label {
    			display: inline-block;
    			text-align: center;
    			font-weight: 700;
    			height: 2.2em;
    			width: 6em;
    			padding-top: 0.1em;
    			font-size: 20px;
    			color: #000;
				border: 3px solid black;
				-moz-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				-o-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				-ms-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
			}

			.week-input { 
    			position: fixed;
				top: 0; 
				left: 100%;
				z-index: -1;
				visibility: hidden;


			}

			.week-label:hover {
   				cursor: pointer;
  				background-color: #795580;
  				border-color: #795580;
			}

			.week-input:checked + .week-label {
    			background-color: #795580;
    			border-color: #795580;
			}

			.week-input:checked:hover + .week-label {
    			cursor: default;
			}

			.projectorTekst {
				margin: 1.1em 0 0 -11em;
			}

			.projector-label {
				display: inline-block;
				height: 2em;
				width: 2em;
				border: 3px solid #000;
				margin: 1em 0 -1.1em -1.3em;
				text-align: center;
				
				-moz-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				-o-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				-ms-transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
				transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
			}

			.projector-label:hover {
			background-color: #795580;
    		border-color: #000;
			}

			.projector-label:before {
				content:"";
				float: left;
				margin: 0.2em 0 0 0.2em;
				width: 1.3em;
				height: 1.3em;
			}

			.projector-input {
				visibility: hidden;
			}

			.projector-input:checked + .projector-label:before{
				
				background-color: #000;

			}

			.nameEmail {
				-webkit-appearance: none;
				border: 3px solid #000;
				background: #fff;
				padding: 0.75em;
				width: 100%;
				margin: 1em 0 0 0;
				color: #000;
				font-weight: bold;
				line-height: 1.35em;
				-moz-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				-webkit-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				-o-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				-ms-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
				transition: color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
			
			}

			.nameEmail:hover {
				border-color: #FFD066;
			}

			.nameEmail:focus {
				outline: none;
				background-color: #FFD066;
				border: 3px solid #FFD066;
				text-decoration: none;
				color: #000;
				
			}

			.nameEmail:focus::-webkit-input-placeholder {
				transition: color .2s ease-in-out;
				color: #FFD066;
		
			}

			.seperator {
				width: 100%;
				margin: 0.3em 0 2em 0;
				border: 3px solid;

			}

			.blue {
				border-color: #61AFCA;
			}

			.yellow {
				border-color: #FFD066;
			}

			.purple {
				border-color: #795580;
			}
		
			

			
	
	/* Section/Article */

		section,
		article
		{
			margin-bottom: 3em;
		}
		
			section > :last-child,
			article > :last-child
			{
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child
			{
				margin-bottom: 0;
			}

		header
		{
		}
		
			header > p
			{
				color: #aaa;
			}
	
	/* Image */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
			}

			.image.fit
			{
				display: block;
				width: 100%;
			}
			
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Button */	

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			-webkit-appearance: none;
			font-weight: bold;
			display: inline-block;
			background-color: #FFF;
			color: #000;
			border: 3px solid #000;
			cursor: pointer;
			outline: 0;
			margin-top: 3em;
			-moz-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
			-webkit-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
			-o-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
			-ms-transition:  color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
			transition: color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out;
		}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background-color: #7EC59D;
				border-color: #7EC59D;
			}
			
			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background-color: #444444;
			}
		
			input[type="button"].alt,
			input[type="submit"].alt,
			input[type="reset"].alt,
			.button.alt
			{
				background-color: #777777;
			}

				input[type="button"].alt:hover,
				input[type="submit"].alt:hover,
				input[type="reset"].alt:hover,
				.button.alt:hover
				{
					background-color: #888888;
				}
				
				input[type="button"].alt:active,
				input[type="submit"].alt:active,
				input[type="reset"].alt:active,
				.button.alt:active
				{
					background-color: #999999;
				}

			.buttonRed:hover {
			background-color: #BC2B40;
			border-color: #BC2B40;
		}
	
	/* List */
	
		ul.default
		{
			list-style: disc;
			padding-left: 1em;
		}
		
			ul.default li
			{
				padding-left: 0.5em;
			}
			
		ul.actions
		{
		}
		
			ul.actions li
			{
				display: inline-block;
				margin-left: 0.5em;
			}
			
				ul.actions li:first-child
				{
					margin-left: 0;
				}
		
		ol.default
		{
			list-style: decimal;
			padding-left: 1.25em;
		}

			ol.default li
			{
				padding-left: 0.25em;
			}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
	
	#nav
	{
	}
	
		#nav a
		{
			position: relative;
			display: inline-block;
			color: #ffffff;
			width: 1em;
			height: 1em;
			line-height: 0.9em;
		}

			#nav a.icon:before
			{
				padding-right: 0;
			}
		
/*********************************************************************************/
/* Panels                                                                        */
/*********************************************************************************/

	#main
	{
		position: relative;
		overflow: hidden;
	}

	.panel
	{
		position: relative;
	}

	/* home */
	
		#home
		{
		}
		
			#home .pic
			{
				position: relative;
				display: block;
			}

				#home .pic:before
				{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: url('images/overlay.png');
					width: 100%;
					height: 100%;
					z-index: 1;
				}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		color: #ccc;
		color: #000000;
	}

		#footer a
		{
			color: #ddd;
			color: rgba(255,255,255,0.65);
			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-o-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}
		
		#footer a:hover
		{
			color: rgba(255,255,255,1.0);
		}
		
		#footer .copyright
		{
		}
		
			#footer .copyright li
			{
				display: inline-block;
				font
			}

				#footer .copyright li:before
				{
					display: inline;
					content: '\2022';
					opacity: 0.5;
					padding: 0 0.75em 0 0.75em;
				}
			
				#footer .copyright li:first-child:before
				{
					display: none;
				}